Overlap_and_add_12ZV/Overlap_and_add_12ZV
Snimanje_transfer_funkcije/Snimanje_transfer_funkcije
Snimanje_transfer_funkcije_sin/Snimanje_transfer_funkcije_sin
frek_domen_filtriranje/frek_domen_filtriranje
mali_niz/mali_niz
snimanje_za_LMS/snimanje_za_LMS
